In [4]:
import requests
import pandas as pd
import json
import ast

In [5]:
url = 'https://justjoin.it/api/offers'

In [6]:
response = requests.get(url)

NameError: name 'url' is not defined

In [ ]:
json_obj = response.json()

In [ ]:
initial_df = pd.json_normalize(json_obj)

In [ ]:
initial_df.drop(columns=['street','address_text','company_url','latitude', 'longitude','open_to_hire_ukrainians','company_logo_url','multilocation'], inplace=True)
initial_df.head()

In [ ]:
initial_df = initial_df.join(initial_df['employment_types'].explode().apply(pd.Series)).join(initial_df['skills'].explode().apply(pd.Series))
df_skills = initial_df.drop(columns=['employment_types', 'skills'])
df_skills

In [ ]:
df_skills.index = range(0, len(df_skills))

In [ ]:
df_salary = pd.json_normalize(initial_df['salary'])
df_salary

In [ ]:
df = pd.merge(df_skills.drop(columns='salary'), df_salary, left_index=True, right_index=True)
df

In [ ]:
df.rename(columns={"type":'employment_type',"name": "skill", "from": "salary_from","to": "salary_to"})

In [ ]:
df.head()