In [90]:
import requests
import pandas as pd
from collections import Counter

import re

from sklearn.feature_extraction.text import TfidfVectorizer

In [91]:
url = 'https://justjoin.it/api/offers'

In [92]:
response = requests.get(url)
content = response.json()

In [93]:
content[0]

{'title': 'Senior Node.js Engineer (with .NET)',
 'street': 'Zabłocie 43A, 30-701',
 'city': 'Kraków',
 'country_code': 'PL',
 'address_text': 'Zabłocie 43A, 30-701, Kraków',
 'marker_icon': 'javascript',
 'workplace_type': 'remote',
 'company_name': 'N-iX',
 'company_url': 'https://careers.n-ix.com/',
 'company_size': '2000+',
 'experience_level': 'senior',
 'latitude': '50.0490744',
 'longitude': '19.9665063',
 'published_at': '2023-07-21T21:00:10.632Z',
 'remote_interview': True,
 'open_to_hire_ukrainians': True,
 'id': 'n-ix-senior-node-js-engineer-with-net',
 'display_offer': True,
 'employment_types': [{'type': 'b2b',
   'salary': {'from': 18000, 'to': 19800, 'currency': 'pln'}},
  {'type': 'permanent',
   'salary': {'from': 14600, 'to': 16598, 'currency': 'pln'}}],
 'company_logo_url': 'https://bucket.justjoin.it/offers/company_logos/thumb/70a78aadcaa5a3c708b9502c5b59773480b53e96.png?1689712210',
 'skills': [{'name': '.Net', 'level': 4}, {'name': 'Node.js', 'level': 5}],
 'remote': True,
 'multilocation': [{'city': 'Kraków',
   'slug': 'n-ix-senior-node-js-engineer-with-net',
   'street': 'Zabłocie 43A, 30-701'},
  {'city': 'Gdańsk',
   'slug': 'n-ix-senior-node-js-engineer-with-net-gdansk',
   'street': '-'},
  {'city': 'Poznań',
   'slug': 'n-ix-senior-node-js-engineer-with-net-poznan',
   'street': '-'},
  {'city': 'Warszawa',
   'slug': 'n-ix-senior-node-js-engineer-with-net-warszawa',
   'street': '-'}],
 'way_of_apply': 'redirect'}

In [94]:
df = pd.DataFrame.from_records(content)

In [95]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,remote_interview,open_to_hire_ukrainians,id,display_offer,employment_types,company_logo_url,skills,remote,multilocation,way_of_apply
0,Senior Node.js Engineer (with .NET),"Zabłocie 43A, 30-701",Kraków,PL,"Zabłocie 43A, 30-701, Kraków",javascript,remote,N-iX,https://careers.n-ix.com/,2000+,...,True,True,n-ix-senior-node-js-engineer-with-net,True,"[{'type': 'b2b', 'salary': {'from': 18000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': '.Net', 'level': 4}, {'name': 'Node....",True,"[{'city': 'Kraków', 'slug': 'n-ix-senior-node-...",redirect
1,Tester oprogramowania,AL. Niepodległości 188b,Warszawa,PL,"AL. Niepodległości 188b, Warszawa",testing,partly_remote,OPI PIB,http://www.opi.org.pl,430,...,True,False,opi-pib-tester-oprogramowania-ed4dfb4a-2709-41...,True,"[{'type': 'permanent', 'salary': {'from': 6000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'ISTQB', 'level': 3}, {'name': 'Test...",False,"[{'city': 'Warszawa', 'street': 'AL. Niepodleg...",redirect
2,Programista Java,AL. Niepodległości 188b,Warszawa,PL,"AL. Niepodległości 188b, Warszawa",java,partly_remote,OPI PIB,http://www.opi.org.pl,430,...,True,False,opi-pib-programista-java-b56d62f5-2df9-4b72-b8...,True,"[{'type': 'permanent', 'salary': {'from': 9000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'REST', 'level': 4}, {'name': 'Sprin...",False,"[{'city': 'Warszawa', 'street': 'AL. Niepodleg...",redirect
3,Senior PHP Developer,Dworcowa 2,Katowice,PL,"Dworcowa 2, Katowice",php,partly_remote,STATSCORE Sp. z o.o.,https://www.statscore.com/,80,...,True,False,statscore-sp-z-o-o-senior-php-developer-katowice,True,"[{'type': 'b2b', 'salary': {'from': 19800, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Laravel', 'level': 4}, {'name': 'OO...",False,"[{'city': 'Wrocław', 'slug': 'statscore-sp-z-o...",redirect
4,Big Data Developer / SQL Developer,Skierniewicka 10A,Warszawa,PL,"Skierniewicka 10A, Warszawa",data,remote,core3,http://core3.pl,100+,...,True,False,core3-big-data-developer-sql-developer,True,"[{'type': 'b2b', 'salary': {'from': 10000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'ETL', 'level': 3}, {'name': 'DWH', ...",True,"[{'city': 'Katowice', 'slug': 'core3-big-data-...",form

In [96]:
df_employment_types = df['employment_types'].apply(pd.Series)

In [97]:
df_employment_types.head()

,0,1
0,"{'type': 'b2b', 'salary': {'from': 18000, 'to'...","{'type': 'permanent', 'salary': {'from': 14600..."
1,"{'type': 'permanent', 'salary': {'from': 6000,...",NaN
2,"{'type': 'permanent', 'salary': {'from': 9000,...",NaN
3,"{'type': 'b2b', 'salary': {'from': 19800, 'to'...","{'type': 'permanent', 'salary': {'from': 18000..."
4,"{'type': 'b2b', 'salary': {'from': 10000, 'to'...",NaN

In [98]:
type(df_employment_types[0][0])

dict

In [99]:
df_employment_types[0][0]

{'type': 'b2b', 'salary': {'from': 18000, 'to': 19800, 'currency': 'pln'}}

In [100]:
df_employment_types_l = df_employment_types[0].apply(pd.Series)

In [101]:
df_employment_types_l.head()

        type                                           salary
0        b2b  {'from': 18000, 'to': 19800, 'currency': 'pln'}
1  permanent   {'from': 6000, 'to': 10000, 'currency': 'pln'}
2  permanent   {'from': 9000, 'to': 15000, 'currency': 'pln'}
3        b2b  {'from': 19800, 'to': 25300, 'currency': 'pln'}
4        b2b  {'from': 10000, 'to': 15000, 'currency': 'pln'}

In [102]:
df_employment_types_l.columns

Index(['type', 'salary'], dtype='object')

In [103]:
df_employment_types_l = pd.concat([df_employment_types_l.drop(['salary'], axis=1), df_employment_types_l['salary'].apply(pd.Series)], axis=1)

In [104]:
df_employment_types_l.rename(columns={'type': 'employment_type_1','from': 'from_1','to': 'to_1'}, inplace=True)

In [105]:
df_employment_types_l

      employment_type_1   from_1     to_1 currency
0                   b2b  18000.0  19800.0      pln
1             permanent   6000.0  10000.0      pln
2             permanent   9000.0  15000.0      pln
3                   b2b  19800.0  25300.0      pln
4                   b2b  10000.0  15000.0      pln
...                 ...      ...      ...      ...
13262               b2b  14400.0  20800.0      pln
13263               b2b  14400.0  20800.0      pln
13264               b2b  23600.0  26900.0      pln
13265               b2b  23520.0  28560.0      pln
13266         permanent      NaN      NaN      NaN

[13267 rows x 4 columns]

In [106]:
df_employment_types_2 = df_employment_types[1].apply(pd.Series)

In [108]:
df_employment_types_2 = pd.concat([df_employment_types_2.drop(['salary'], axis=1), df_employment_types_2['salary'].apply(pd.Series)], axis=1)

In [109]:
df_employment_types_2.rename(columns={'type': 'employment_type_2', 'from': 'from_2','to': 'to_2'}, inplace=True)

In [110]:
df_employment_types_2

      employment_type_2   0   from_2     to_2 currency   0
0             permanent NaN  14600.0  16598.0      pln NaN
1                   NaN NaN      NaN      NaN      NaN NaN
2                   NaN NaN      NaN      NaN      NaN NaN
3             permanent NaN  18000.0  23000.0      pln NaN
4                   NaN NaN      NaN      NaN      NaN NaN
...                 ...  ..      ...      ...      ...  ..
13262               NaN NaN      NaN      NaN      NaN NaN
13263               NaN NaN      NaN      NaN      NaN NaN
13264               NaN NaN      NaN      NaN      NaN NaN
13265               NaN NaN      NaN      NaN      NaN NaN
13266               b2b NaN      NaN      NaN      NaN NaN

[13267 rows x 6 columns]

In [111]:
df_employment_types_2 = df_employment_types_2.drop([0], axis=1)

In [112]:
df_employment_types_2.head()

  employment_type_2   from_2     to_2 currency
0         permanent  14600.0  16598.0      pln
1               NaN      NaN      NaN      NaN
2               NaN      NaN      NaN      NaN
3         permanent  18000.0  23000.0      pln
4               NaN      NaN      NaN      NaN

In [113]:
df_test = pd.DataFrame()

In [114]:
df_test = df['skills'].apply(pd.Series)

In [115]:
df_test.head()

,0,1,2
0,"{'name': '.Net', 'level': 4}","{'name': 'Node.js', 'level': 5}",NaN
1,"{'name': 'ISTQB', 'level': 3}","{'name': 'Testing', 'level': 4}",NaN
2,"{'name': 'REST', 'level': 4}","{'name': 'Spring', 'level': 4}","{'name': 'Java', 'level': 5}"
3,"{'name': 'Laravel', 'level': 4}","{'name': 'OOP', 'level': 5}","{'name': 'PHP', 'level': 5}"
4,"{'name': 'ETL', 'level': 3}","{'name': 'DWH', 'level': 3}","{'name': 'SQL', 'level': 4}"

In [171]:
df_test0 = df_test[0].apply(pd.Series)
df_test1 = df_test[1].apply(pd.Series)
df_test2 = df_test[2].apply(pd.Series)

In [172]:
df_test0.head()

      name  level
0     .Net      4
1    ISTQB      3
2     REST      4
3  Laravel      4
4      ETL      3

In [173]:
pivot_df0 = df_test0.pivot(columns='name', values='level').fillna(0)
pivot_df1 = df_test1.pivot(columns='name', values='level').fillna(0)
pivot_df2 = df_test2.pivot(columns='name', values='level').fillna(0)

In [174]:
pivot_df0

name,*Python,.NET 6,.NET Core,.NET MVC,.NET and C#,.Net,.Net 5,.Net Framework,1C,3D,...,ticketing system,trouble shooting skills,unix shell,vRealize Orchestrator,web,webservices,working with UX teams,yocto project,С#,С++
0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [175]:
pivot_df = pd.concat([pivot_df0, pivot_df1,pivot_df2], axis=1)

In [176]:
cols = [col for col in pivot_df.columns]
counts = Counter(cols)
duplicates = [skill_name for skill_name, count in counts.items() if count > 1]

print(duplicates)

['.NET 6', '.NET Core', '.Net', '.Net Framework', '4gl', 'ABAP', 'ABAP OO', 'AEM', 'AI', 'AML', 'API', 'API Testing', 'ASP.NET', 'ASP.NET Core', 'ASP.NET MVC', 'ASPICE', 'AWS', 'Active Directory', 'Adobe Creative Suite', 'Adobe Photoshop', 'Adobe XD', 'Agile', 'Airflow', 'Amazon AWS', 'Amazon Web Services', 'Analityczne Myślenie', 'Analiza Biznesowa', 'Analytical Thinking', 'Analytics', 'Android', 'Android SDK', 'Android Studio', 'Angielski', 'Angular', 'Angular 2+', 'AngularJS', 'Ansible', 'Apache Spark', 'Apache Tomcat', 'Apex', 'Appium', 'Architecture', 'Atlassian', 'Audyt', 'Automated Testing', 'Automotive', 'Autosar', 'Azure', 'Azure AD', 'Azure Data Factory', 'Azure Databricks', 'Azure DevOps', 'Azure Services', 'BGP', 'BI', 'BPMN', 'Backend', 'Bash', 'Big Data', 'BigQuery', 'Bitbucket', 'Blockchain', 'Business Analysis', 'Business Central', 'C', 'C#', 'C#.NET', 'C#/.NET', 'C++', 'C++ 14', 'CD', 'CI', 'CI/CD', 'CISM', 'CMS', 'CRM', 'CSDM 3.0', 'CSS', 'CSS/SCSS', 'CSS3', 'Cassandra', 'CentOS', 'Cisco', 'Clean Code', 'Cloud', 'Cloud security', 'Communication Skills', 'Confluence', 'Contact with a client', 'Continuous Integration', 'Customer Support', 'CyberArk', 'Cybersecurity', 'Cypress', 'DDD', 'DNS', 'DWH', 'Dart', 'Data', 'Data Center', 'Data Integration', 'Data Science', 'Data Vault', 'Data Warehousing', 'Data modeling', 'Database', 'Databases', 'Databricks', 'Deep Learning', 'DevOps', 'DevOps tools', 'Distributed systems', 'Django', 'Docker', 'Dynamics 365', 'ECS', 'ERP', 'ES6', 'ETL', 'ETL tools', 'Elasticsearch', 'Embedded', 'Embedded Systems', 'English', 'English (CEFR C1+)', 'Enterprise Architect', 'Entity Framework', 'Ethernet', 'Excel', 'F#', 'Figma', 'Firebase', 'Firewall', 'Flask', 'Fortinet', 'Front-End', 'GCP', 'German', 'Git', 'GitFLow', 'GitHub', 'GitLab', 'Go', 'Golang', 'Google Analytics', 'Google Cloud', 'Google Cloud Platform', 'GraphQL', 'Groovy', 'HTML', 'HTML5', 'HTML5 / CSS3', 'Hadoop', 'Helm', 'Hibernate', 'IAM', 'IBM', 'IIS', 'ISO', 'ISTQB', 'IT', 'IT Security', 'IT Support', 'ITIL', 'IaC', 'Identity and Access Management', 'Illustrator', 'Infrastructure', 'IoT', 'JIRA', 'JMeter', 'JPA', 'JS', 'JSON', 'JUnit', 'Java', 'Java 11', 'Java 8', 'Java EE', 'Java and/or Kotlin', 'Java/Kotlin/Scala', 'JavaEE', 'JavaScript', 'Jenkins', 'Kafka', 'Kanban', 'Kotlin', 'Kubernetes', 'LAN', 'LTE', 'Laravel', 'Leadership', 'Linux', 'Linux / Unix', 'Linux OS', 'Linux/Unix', 'MIRO', 'MS Azure', 'MS Excel', 'MS Exchange', 'MS Office', 'MS Project', 'MS SQL', 'MS SQL Server', 'MS Windows', 'MS Windows Server', 'MVC', 'Mac OS', 'Machine Learning', 'Magento', 'Magento 2', 'Mainframe', 'Management', 'Manual Testing', 'Matlab', 'Maven', 'Mendix', 'Micronaut', 'Microservice Architecture', 'Microservices', 'Microsoft 365', 'Microsoft Azure', 'Microsoft Azure Cloud', 'Microsoft Office', 'Microsoft Windows', 'Mobile', 'Mobile Apps', 'Mobile casual games', 'MongoDB', 'Monitoring Tools', 'MsSQL', 'MySQL', 'NIST', 'NUnit', 'Network', 'Networking', 'Next.js', 'NgRx', 'Niemiecki', 'NoSQL', 'Node.js', 'NodeJS', 'Nuxt', 'Nuxt.js', 'OOP', 'Office 365', 'OpenCV', 'OpenShift', 'OpenStack', 'Oracle', 'Oracle DB', 'Oracle Forms', 'Oracle SQL', 'PHP', 'PHP 7.x', 'PL/SQL', 'PLC', 'PLM', 'PMI', 'PRINCE2', 'People Management', 'Perl', 'Photoshop', 'Playwright', 'Polish', 'PostgreSQL', 'Postman', 'PostreSQL', 'Power Automate', 'Power BI', 'Power Platform', 'Powershell', 'PrestaShop', 'Problem Solving', 'Procesy biznesowe', 'Product Management', 'Program Management', 'Programming', 'Project Management', 'Prometheus', 'Protokoły Sieciowe', 'PySpark', 'PyTorch', 'Python', 'QA', 'Qt', 'Quality Assurance', 'REST', 'REST API', 'RESTful', 'RPA', 'RSpec', 'RabbitMQ', 'React', 'React Native', 'React.JS', 'ReactJS', 'Red Hat', 'Redux', 'Risk Management', 'Risk Management Framework', 'Ruby on Rails', 'Rust', 'RxJS', 'S/4 HANA', 'S/4HANA', 'SAP', 'SAP ABAP', 'SAP Ariba', 'SAP BW', 'SAP CO', 'SAP FI', 'SAP Fiori', 'SAP HANA', 'SAP HR', 'SAP MM', 'SAP PM', 'SAP S/4HANA', 'SAP S4HANA', 'SAP SD', 'SAP Successfactors', 'SAS', 'SCSS', 'SDLC', 'SDN', 'SIAM', 'SIEM', 'SOAP', 'SOLID Principles', 'SQL', 'SQL Server', 'SQL databases', 'SRE', 'SSIS', 'SaaS', 'Sales', 'Salesforce', 'Scala', 'Scratch', 'Scrum', 'Scrum Master', 'Security', 'Selenium', 'Selenium WebDriver', 'Service Desk', 'ServiceNow', 'SharePoint', 'Sketch', 'Snowflake', 'SoapUI', 'Software Architecture', 'Software Development', 'Solid', 'Solidity', 'Spark', 'Spring', 'Spring Boot', 'Spring MVC', 'Swift', 'SwiftUI', 'Symfony', 'Symfony 4', 'System Administration', 'T-SQL', 'TCP/IP', 'TDD', 'TLS', 'Tableau', 'Team Leadership', 'Team Management', 'Team Player', 'Teamwork', 'Telco', 'TensorFlow', 'Terraform', 'Test Automation', 'TestRail', 'Testing', 'Tomcat', 'Troubleshooting', 'TypeScript', 'UI', 'UI Design', 'UI5', 'UML', 'UX', 'UX Design', 'UX Research', 'Ubuntu', 'Unity', 'Unix', 'VBA', 'VMware', 'VPN', 'Virtualization', 'Visual Studio', 'Vue', 'Vue.js', 'WAN', 'Web Application Testing', 'Windows', 'Windows Administration', 'Windows Server', 'WooCommerce', 'WordPress', 'Writing Test Scenarios', 'XML', 'XUnit', 'YAML', 'Yocto', 'Zabbix', 'Zarządzanie zespołem', 'analiza systemowa', 'automation', 'data analyst', 'data governance', 'gRPC', 'iOS', 'iOS frameworks', 'jQuery', 'k8', 'nestJS', 'product owner', 'pytest', 'routing', 'software testing', 'ticketing system', nan, '.NET C#', 'ACF', 'Angular 12', 'BDD', 'Bazy Danych', 'Blazor', 'Business Intelligence', 'Computer science', 'DAX', 'Data Engineering', 'E-commerce', 'Flutter', 'Hardware', 'Helpdesk', 'IPC', 'IT Service Management', 'IntelliJ APIs or Java UI libraries like Swing or SWT', 'JVM', 'Java SE', 'ML', 'Metasploit', 'Microsoft', 'Microsoft SQL', 'Middleware', 'Network Administration', 'Node', 'NumPy', 'Omnichannel', 'PHP 8', 'PIM', 'Proactivity', 'Processing data', 'Product Ownership', 'Ruby', 'SAP ERP', 'SAP Hybris', 'Sales Cloud', 'Software Engineering', 'Technical Support', 'Tibco', 'Unity 3D', 'VHDL', 'Web Applications', 'Windows 10', 'proxy', 'soar']

In [143]:
counts

Counter({'.NET 6': 3,
         '.NET Core': 3,
         '.Net': 3,
         '.Net Framework': 3,
         'ABAP': 3,
         'AEM': 3,
         'AI': 3,
         'AML': 3,
         'API': 3,
         'API Testing': 3,
         'ASP.NET': 3,
         'ASP.NET MVC': 3,
         'AWS': 3,
         'Active Directory': 3,
         'Adobe Photoshop': 3,
         'Adobe XD': 3,
         'Agile': 3,
         'Amazon AWS': 3,
         'Amazon Web Services': 3,
         'Analityczne Myślenie': 3,
         'Analiza Biznesowa': 3,
         'Analytical Thinking': 3,
         'Analytics': 3,
         'Android': 3,
         'Android SDK': 3,
         'Angielski': 3,
         'Angular': 3,
         'Angular 2+': 3,
         'AngularJS': 3,
         'Ansible': 3,
         'Apex': 3,
         'Architecture': 3,
         'Atlassian': 3,
         'Automated Testing': 3,
         'Automotive': 3,
         'Autosar': 3,
         'Azure': 3,
         'Azure Data Factory': 3,
         'Azure DevOps': 3,
         'Azure Services': 3,
         'BPMN': 3,
         'Backend': 3,
         'Bash': 3,
         'Big Data': 3,
         'Bitbucket': 3,
         'Business Analysis': 3,
         'C': 3,
         'C#': 3,
         'C++': 3,
         'C++ 14': 3,
         'CI': 3,
         'CI/CD': 3,
         'CISM': 3,
         'CSS': 3,
         'CSS3': 3,
         'Cassandra': 3,
         'CentOS': 3,
         'Cisco': 3,
         'Clean Code': 3,
         'Cloud': 3,
         'Communication Skills': 3,
         'Confluence': 3,
         'Contact with a client': 3,
         'Customer Support': 3,
         'Cybersecurity': 3,
         'Cypress': 3,
         'DWH': 3,
         'Data': 3,
         'Data Integration': 3,
         'Data Science': 3,
         'Data Warehousing': 3,
         'Databases': 3,
         'Deep Learning': 3,
         'DevOps': 3,
         'Django': 3,
         'Docker': 3,
         'Dynamics 365': 3,
         'ERP': 3,
         'ETL': 3,
         'ETL tools': 3,
         'Embedded': 3,
         'Embedded Systems': 3,
         'English': 3,
         'Enterprise Architect': 3,
         'Figma': 3,
         'Firewall': 3,
         'Flask': 3,
         'Front-End': 3,
         'GCP': 3,
         'Git': 3,
         'GitHub': 3,
         'GitLab': 3,
         'Go': 3,
         'Golang': 3,
         'Google Analytics': 3,
         'Google Cloud': 3,
         'Google Cloud Platform': 3,
         'Groovy': 3,
         'HTML': 3,
         'HTML5': 3,
         'HTML5 / CSS3': 3,
         'Hadoop': 3,
         'Hibernate': 3,
         'IBM': 3,
         'ISTQB': 3,
         'IT': 3,
         'IT Security': 3,
         'IT Support': 3,
         'ITIL': 3,
         'JIRA': 3,
         'JMeter': 3,
         'JS': 3,
         'JSON': 3,
         'JUnit': 3,
         'Java': 3,
         'Java 11': 3,
         'Java 8': 3,
         'JavaScript': 3,
         'Jenkins': 3,
         'Kafka': 3,
         'Kotlin': 3,
         'Kubernetes': 3,
         'LAN': 3,
         'LTE': 3,
         'Laravel': 3,
         'Leadership': 3,
         'Linux': 3,
         'Linux / Unix': 3,
         'Linux OS': 3,
         'Linux/Unix': 3,
         'MS Azure': 3,
         'MS Excel': 3,
         'MS Office': 3,
         'MS Project': 3,
         'MS SQL': 3,
         'MS SQL Server': 3,
         'MS Windows': 3,
         'MS Windows Server': 3,
         'Machine Learning': 3,
         'Magento': 3,
         'Magento 2': 3,
         'Management': 3,
         'Manual Testing': 3,
         'Maven': 3,
         'Microservice Architecture': 3,
         'Microservices': 3,
         'Microsoft 365': 3,
         'Microsoft Azure': 3,
         'Microsoft Azure Cloud': 3,
         'Microsoft Windows': 3,
         'Mobile': 3,
         'Mobile Apps': 3,
         'MongoDB': 3,
         'MySQL': 3,
         'Network': 3,
         'Networking': 3,
         'Next.js': 3,
         'Niemiecki': 3,
         'Node.js': 3,
         'OOP': 3,
         'Office 365': 3,
         'OpenShift': 3,
         'Oracle': 3,
         'Oracle DB': 3,
         'Oracle SQL': 3,
         'PHP': 3,
         'PHP 7.x': 3,
         'PL/SQL': 3,
         'People Management': 3,
         'Playwright': 3,
         'Polish': 3,
         'PostgreSQL': 3,
         'Postman': 3,
         'Power BI': 3,
         'Power Platform': 3,
         'Powershell': 3,
         'Problem Solving': 3,
         'Product Management': 3,
         'Project Management': 3,
         'PySpark': 3,
         'Python': 3,
         'QA': 3,
         'REST': 3,
         'REST API': 3,
         'React': 3,
         'React Native': 3,
         'React.JS': 3,
         'ReactJS': 3,
         'Red Hat': 3,
         'Risk Management': 3,
         'Ruby on Rails': 3,
         'S/4HANA': 3,
         'SAP': 3,
         'SAP ABAP': 3,
         'SAP HANA': 3,
         'SAP MM': 3,
         'SAP SD': 3,
         'SAS': 3,
         'SDLC': 3,
         'SIEM': 3,
         'SOAP': 3,
         'SQL': 3,
         'SQL Server': 3,
         'SSIS': 3,
         'Salesforce': 3,
         'Scala': 3,
         'Scrum': 3,
         'Scrum Master': 3,
         'Security': 3,
         'Selenium': 3,
         'Service Desk': 3,
         'ServiceNow': 3,
         'Snowflake': 3,
         'Software Architecture': 3,
         'Software Development': 3,
         'Solid': 3,
         'Spark': 3,
         'Spring': 3,
         'Spring Boot': 3,
         'Swift': 3,
         'Symfony': 3,
         'T-SQL': 3,
         'TCP/IP': 3,
         'Team Leadership': 3,
         'Team Management': 3,
         'Team Player': 3,
         'Teamwork': 3,
         'Telco': 3,
         'Terraform': 3,
         'Test Automation': 3,
         'TestRail': 3,
         'Testing': 3,
         'TypeScript': 3,
         'UI': 3,
         'UI Design': 3,
         'UML': 3,
         'UX': 3,
         'UX Design': 3,
         'Ubuntu': 3,
         'Unity': 3,
         'VMware': 3,
         'VPN': 3,
         'Vue': 3,
         'Vue.js': 3,
         'Web Application Testing': 3,
         'Windows': 3,
         'Windows Server': 3,
         'WooCommerce': 3,
         'WordPress': 3,
         'Writing Test Scenarios': 3,
         'XML': 3,
         'iOS': 3,
         '4gl': 2,
         'ABAP OO': 2,
         'ASP.NET Core': 2,
         'ASPICE': 2,
         'Adobe Creative Suite': 2,
         'Airflow': 2,
         'Android Studio': 2,
         'Apache Spark': 2,
         'Apache Tomcat': 2,
         'Appium': 2,
         'Audyt': 2,
         'Azure AD': 2,
         'Azure Databricks': 2,
         'BGP': 2,
         'BI': 2,
         'BigQuery': 2,
         'Blockchain': 2,
         'Business Central': 2,
         'C#.NET': 2,
         'C#/.NET': 2,
         'CD': 2,
         'CMS': 2,
         'CRM': 2,
         'CSDM 3.0': 2,
         'CSS/SCSS': 2,
         'Cloud security': 2,
         'Continuous Integration': 2,
         'CyberArk': 2,
         'DDD': 2,
         'DNS': 2,
         'Dart': 2,
         'Data Center': 2,
         'Data Vault': 2,
         'Data modeling': 2,
         'Database': 2,
         'Databricks': 2,
         'DevOps tools': 2,
         'Distributed systems': 2,
         'ECS': 2,
         'ES6': 2,
         'Elasticsearch': 2,
         'English (CEFR C1+)': 2,
         'Entity Framework': 2,
         'Ethernet': 2,
         'Excel': 2,
         'F#': 2,
         'Firebase': 2,
         'Fortinet': 2,
         'German': 2,
         'GitFLow': 2,
         'GraphQL': 2,
         'Helm': 2,
         'IAM': 2,
         'IIS': 2,
         'ISO': 2,
         'IaC': 2,
         'Identity and Access Management': 2,
         'Illustrator': 2,
         'Infrastructure': 2,
         'IoT': 2,
         'JPA': 2,
         'Java EE': 2,
         'Java and/or Kotlin': 2,
         'Java/Kotlin/Scala': 2,
         'JavaEE': 2,
         'Kanban': 2,
         'MIRO': 2,
         'MS Exchange': 2,
         'MVC': 2,
         'Mac OS': 2,
         'Mainframe': 2,
         'Matlab': 2,
         'Mendix': 2,
         'Micronaut': 2,
         'Microsoft Office': 2,
         'Mobile casual games': 2,
         'Monitoring Tools': 2,
         'MsSQL': 2,
         'NIST': 2,
         'NUnit': 2,
         'NgRx': 2,
         'NoSQL': 2,
         'NodeJS': 2,
         'Nuxt': 2,
         'Nuxt.js': 2,
         'OpenCV': 2,
         'OpenStack': 2,
         'Oracle Forms': 2,
         'PLC': 2,
         'PLM': 2,
         'PMI': 2,
         'PRINCE2': 2,
         'Perl': 2,
         'Photoshop': 2,
         'PostreSQL': 2,
         'Power Automate': 2,
         'PrestaShop': 2,
         'Procesy biznesowe': 2,
         'Program Management': 2,
         'Programming': 2,
         'Prometheus': 2,
         'Protokoły Sieciowe': 2,
         'PyTorch': 2,
         'Qt': 2,
         'Quality Assurance': 2,
         'RESTful': 2,
         'RPA': 2,
         'RSpec': 2,
         'RabbitMQ': 2,
         'Redux': 2,
         'Risk Management Framework': 2,
         'Rust': 2,
         'RxJS': 2,
         'S/4 HANA': 2,
         'SAP Ariba': 2,
         'SAP BW': 2,
         'SAP CO': 2,
         'SAP FI': 2,
         'SAP Fiori': 2,
         'SAP HR': 2,
         'SAP PM': 2,
         'SAP S/4HANA': 2,
         'SAP S4HANA': 2,
         'SAP Successfactors': 2,
         'SCSS': 2,
         'SDN': 2,
         'SIAM': 2,
         'SOLID Principles': 2,
         'SQL databases': 2,
         'SRE': 2,
         'SaaS': 2,
         'Sales': 2,
         'Scratch': 2,
         'Selenium WebDriver': 2,
         'SharePoint': 2,
         'Sketch': 2,
         'SoapUI': 2,
         'Solidity': 2,
         'Spring MVC': 2,
         'SwiftUI': 2,
         'Symfony 4': 2,
         'System Administration': 2,
         'TDD': 2,
         'TLS': 2,
         'Tableau': 2,
         'TensorFlow': 2,
         'Tomcat': 2,
         'Troubleshooting': 2,
         'UI5': 2,
         'UX Research': 2,
         'Unix': 2,
         'VBA': 2,
         'Virtualization': 2,
         'Visual Studio': 2,
         'WAN': 2,
         'Windows Administration': 2,
         'XUnit': 2,
         'YAML': 2,
         'Yocto': 2,
         'Zabbix': 2,
         'Zarządzanie zespołem': 2,
         'analiza systemowa': 2,
         'automation': 2,
         'data analyst': 2,
         'data governance': 2,
         'gRPC': 2,
         'iOS frameworks': 2,
         'jQuery': 2,
         'k8': 2,
         'nestJS': 2,
         'product owner': 2,
         'pytest': 2,
         'routing': 2,
         'software testing': 2,
         'ticketing system': 2,
         nan: 2,
         '.NET C#': 2,
         'ACF': 2,
         'Angular 12': 2,
         'BDD': 2,
         'Bazy Danych': 2,
         'Blazor': 2,
         'Business Intelligence': 2,
         'Computer science': 2,
         'DAX': 2,
         'Data Engineering': 2,
         'E-commerce': 2,
         'Flutter': 2,
         'Hardware': 2,
         'Helpdesk': 2,
         'IPC': 2,
         'IT Service Management': 2,
         'IntelliJ APIs or Java UI libraries like Swing or SWT': 2,
         'JVM': 2,
         'Java SE': 2,
         'ML': 2,
         'Metasploit': 2,
         'Microsoft': 2,
         'Microsoft SQL': 2,
         'Middleware': 2,
         'Network Administration': 2,
         'Node': 2,
         'NumPy': 2,
         'Omnichannel': 2,
         'PHP 8': 2,
         'PIM': 2,
         'Proactivity': 2,
         'Processing data': 2,
         'Product Ownership': 2,
         'Ruby': 2,
         'SAP ERP': 2,
         'SAP Hybris': 2,
         'Sales Cloud': 2,
         'Software Engineering': 2,
         'Technical Support': 2,
         'Tibco': 2,
         'Unity 3D': 2,
         'VHDL': 2,
         'Web Applications': 2,
         'Windows 10': 2,
         'proxy': 2,
         'soar': 2,
         '*Python': 1,
         '.NET MVC': 1,
         '.NET and C#': 1,
         '.Net 5': 1,
         '1C': 1,
         '3D': 1,
         '802.1x': 1,
         'A/B test': 1,
         'AD': 1,
         'API Development': 1,
         'API integrations': 1,
         'API rest': 1,
         'AQA experience with UI auto test with cypress; KARATE': 1,
         'ARC Ingestion': 1,
         'ARM': 1,
         'ASP.NET Web API': 1,
         'AWS (or other cloud)': 1,
         'AWS or Azure or GCP': 1,
         'AWS services': 1,
         'Adobe CC suite': 1,
         'Agricultural industry': 1,
         'Akka': 1,
         'Amazon': 1,
         'Amazon VPC': 1,
         'Amplitude': 1,
         'Angular / React': 1,
         'Angular/React': 1,
         'Angular13': 1,
         'Apache Kafka': 1,
         'Application lifecycle': 1,
         'Apriso': 1,
         'ArgoCD': 1,
         'Asseco Softlab': 1,
         'Assertiveness': 1,
         'Automation Tools': 1,
         'Azure Data Lake Storage': 1,
         'Azure SQL': 1,
         'Azure Stream Analytics': 1,
         'Azure/AWS/GCP': 1,
         'BI & Analytics': 1,
         'BLE': 1,
         'BLOC': 1,
         'BW HANA': 1,
         'Basic': 1,
         'BeanShell': 1,
         'BeautifulSoup': 1,
         'Beckhhoff': 1,
         'Bootstrap': 1,
         'Buildroot': 1,
         'Business Process Management': 1,
         'C/AL': 1,
         'CCNA': 1,
         'CCNA  lub CCNP': 1,
         'CDP': 1,
         'CEH': 1,
         'CI / CD': 1,
         'CIS20': 1,
         'CM': 1,
         'CMake': 1,
         'CO-PC': 1,
         'COREP': 1,
         'CPU': 1,
         'CQRS': 1,
         'CSA': 1,
         'Celonis': 1,
         'Certificate Authority': 1,
         'Change Management': 1,
         'Charles Proxy': 1,
         'Chocolatey': 1,
         'Cinema': 1,
         'Clickmeeting': 1,
         'Cloud Infrastructure': 1,
         'Cloud Services': 1,
         'Cloud architecture': 1,
         'Cloudflare': 1,
         'Code Review': 1,
         'Codrova': 1,
         'Comarch ERP': 1,
         'Combine': 1,
         'Computer hardware': 1,
         'Concourse': 1,
         'Conflict resolution skill': 1,
         'Containerisation': 1,
         'Containers': 1,
         'Containers: Docker, OpenShift': 1,
         'Core Banking': 1,
         'Corezoid': 1,
         'Cosmos': 1,
         'Couchbase': 1,
         'Cucumber': 1,
         'Customer Jouney': 1,
         'DBT': 1,
         'DMS': 1,
         'Dagger': 1,
         'Data Lakehouse': 1,
         'Data Pipelines': 1,
         'Data Visualization': 1,
         'Data analysis': 1,
         'Data protection': 1,
         'Datadog': 1,
         'Decipher': 1,
         'Dell': 1,
         'Delphi': 1,
         'Delta Lake': 1,
         'Design': 1,
         'Design Patterns': 1,
         'Design Thinking': 1,
         'Django / Twisted / Flask': 1,
         'Docker Compose': 1,
         'Dynamics AX': 1,
         'Dynamics NAV': 1,
         'Dynatrace': 1,
         'EDR': 1,
         'ES7': 1,
         'ESB': 1,
         'Electron': 1,
         'ElectronJS': 1,
         'Embedded C': 1,
         'Englsih': 1,
         'Enova365': 1,
         'Excellent spoken and written English communication skills': 1,
         'Feryt': 1,
         'Firewal management': 1,
         'Flink SQL': 1,
         'Forensic Analysis': 1,
         'GCC': 1,
         'GDPR': 1,
         'GKE': 1,
         'GPT': 1,
         'GRC': 1,
         'GStreamer': 1,
         'GUI': 1,
         'Games Development': 1,
         'Go/Python/Ruby': 1,
         'Go/Rust': 1,
         'Google': 1,
         'Google Search Console': 1,
         'Google Workplace': 1,
         'Gradle': 1,
         'Grafana': 1,
         'Grails': 1,
         'HA': 1,
         'HDFS': 1,
         'HMTL': 1,
         'HR Baan': 1,
         'HRIS': 1,
         'HTTP/1.1/2.0': 1,
         'Hadoop/Spark/Hive': 1,
         'Historyjki użytkowników': 1,
         'HotJar': 1,
         'Hyper-V': 1,
         'IATF': 1,
         'IBM Content Navigator': 1,
         'IBMi MQ': 1,
         'IDE': 1,
         'IFS': 1,
         'IFS Custiomization': 1,
         'IPMA': 1,
         'ISO 21434': 1,
         'IT Operations': 1,
         'ITSM': 1,
         'IWS': 1,
         'Informatica': 1,
         'Infrastructure Provisioning': 1,
         'Inmon': 1,
         'IntelliJ': 1,
         'Intune Autopilot': 1,
         'Istio': 1,
         'JBoss': 1,
         'JDBC': 1,
         'JEE/J2EE': 1,
         'JMS': 1,
         'JOOQ': 1,
         'JS ES6': 1,
         'Java/ Javascript': 1,
         'JavaScript (jQuery)': 1,
         'JavaScript Framework': 1,
         'JavaScript/TypeScript': 1,
         'K8S': 1,
         'KPI': 1,
         'KYC': 1,
         'Keras': 1,
         'Knowledge Graph': 1,
         'Ktolin': 1,
         'LAMP': 1,
         'LAN/TCP/IP': 1,
         'LAN/WAN/VPN': 1,
         'LAN/WAN/WLAN networks': 1,
         'LLM': 1,
         'LUA': 1,
         'Lean Design': 1,
         'Less': 1,
         'Linux/Windows': 1,
         'Linuxa': 1,
         'Lion': 1,
         'Liquid': 1,
         'Lisp': 1,
         'LiveChat': 1,
         'Load Runner (Performance Center)': 1,
         'Looker': 1,
         'Looker Studio': 1,
         'M365': 1,
         'MERN': 1,
         'MOBX': 1,
         'MS 0365': 1,
         'MS Dynamics': 1,
         'MS SQL and Maria DB': 1,
         'MS World': 1,
         'MSSP': 1,
         'MarkLogic': 1,
         'Mcafee': 1,
         'Microfrontend': 1,
         'Microsoft Dynamics': 1,
         'Microsoft Dynamics 365': 1,
         'Microsoft Dynamics 365 F&O': 1,
         'Microsoft Server IIS': 1,
         'Microsoft Sharepoint': 1,
         'Microsoft Teams': 1,
         'Microsoft Visio': 1,
         'Min. 1 module': 1,
         'Mockito': 1,
         'Monitoring systems': 1,
         'Monitoring/logging': 1,
         'MuleSoft': 1,
         'MySQL / NoSQL': 1,
         'NLP': 1,
         'NTURAL': 1,
         'NWDI': 1,
         'Nessus': 1,
         'Nest.js': 1,
         'Nmap': 1,
         'No Code': 1,
         'NodeJS 12': 1,
         'OAuth2': 1,
         'OB-SS': 1,
         'OCTOBER CMS': 1,
         'ORM': 1,
         'Objective-C': 1,
         'Octopus': 1,
         'Okta': 1,
         'OpenId Connect': 1,
         'Oracle CX cloud': 1,
         'Oracle DBA SME and PGSQL': 1,
         'Oracle Linux': 1,
         'Oracle Middleware': 1,
         'Orkiestracja': 1,
         'PCI DSS': 1,
         'PHP 8.0/8.1': 1,
         'PHPUnit': 1,
         'PMO': 1,
         'PMP': 1,
         'Pandas': 1,
         'Perforce': 1,
         'Pesit': 1,
         'PostgreSQL/MongoDB': 1,
         'Postgres': 1,
         'Postgress': 1,
         'Power Query': 1,
         'PowerBi': 1,
         'Powerautomate': 1,
         'PrimeNG': 1,
         'Prior IT Application Service Management': 1,
         'Probes': 1,
         'Produkty mobilne': 1,
         'Prometheus/Grafana': 1,
         'Prototyping': 1,
         'Public Clouds': 1,
         'Puppet': 1,
         'Pydantic': 1,
         'QML': 1,
         'QOS': 1,
         'QlikView': 1,
         'Quartus': 1,
         'R': 1,
         'RDBMS': 1,
         'RESTful API': 1,
         'RESTful API / gRPC': 1,
         'RTE': 1,
         'RTOS': 1,
         'RWD': 1,
         'Rapid 7 InsightVM': 1,
         'React 17+': 1,
         'Read Hat': 1,
         'Red Hat OCP': 1,
         'Redis': 1,
         'Relacyjne Bazy Danych': 1,
         'Resource Management': 1,
         'Responsive Web Design': 1,
         'RestAPI': 1,
         'Retail': 1,
         'RxSwift': 1,
         'Rxjava2': 1,
         'SAFe': 1,
         'SAP Application Lifecycle Management': 1,
         'SAP Application Lifecycle Management (3/5)': 1,
         'SAP BASIS': 1,
         'SAP CRM': 1,
         'SAP Cloud Foundry': 1,
         'SAP Commerce': 1,
         'SAP ECC': 1,
         'SAP FICO': 1,
         'SAP IS': 1,
         'SAP PP': 1,
         'SAP Portal': 1,
         'SAP Retail': 1,
         'SAP SD/MM': 1,
         'SAP SWPM': 1,
         'SAP Transformation': 1,
         'SAP WM': 1,
         'SAPMaintenance\u200b': 1,
         'SD-WAN': 1,
         'SDK': 1,
         'SIP': 1,

In [177]:
for duplicate in duplicates:
    pivot_df1.rename(columns={duplicate: f"{duplicate}__1"}, inplace=True)
    pivot_df2.rename(columns={duplicate: f"{duplicate}__2"}, inplace=True)

In [178]:
pivot_df = pd.concat([pivot_df0, pivot_df1, pivot_df2], axis=1)

In [180]:
# sprawdzam, czy są wiersze, w których ten sam skill ma niezerowe wartości w pierwszej i jednej ze zduplikowanych kolumn
for duplicate in duplicates:
    try:
        pivot_df[(pivot_df[f'{duplicate}']!=0)&(pivot_df[f'{duplicate}__1']!=0)][[f'{duplicate}',f'{duplicate}__1']]
        pivot_df[(pivot_df[f'{duplicate}']!=0)&(pivot_df[f'{duplicate}__2']!=0)][[f'{duplicate}',f'{duplicate}__2']]
    except:
        pass

In [181]:
for duplicate in duplicates:
    try:
        pivot_df[duplicate] = pivot_df[duplicate] + pivot_df[f'{duplicate}__1']
    except:
        pass
    
for duplicate in duplicates:
    try:
        pivot_df[duplicate] = pivot_df[duplicate]+ pivot_df[f'{duplicate}__2']
    except:
        pass

In [182]:
for duplicate in duplicates:
    try: 
        pivot_df = pivot_df[pivot_df.columns.drop(list(pivot_df.filter(regex='__1')))]
        pivot_df = pivot_df[pivot_df.columns.drop(list(pivot_df.filter(regex='__2')))]
    except:
        pass

In [183]:
pivot_df

name,*Python,.NET 6,.NET Core,.NET MVC,.NET and C#,.Net,.Net 5,.Net Framework,1C,3D,...,php 7.4+,project management and product delivery,projektowanie sys. IT,prowadzenie projektów,redhat,release management,webMethods,xDSL,zSeries,zarządzanie zespołem IT
0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13266,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
df = df[['title', 'city', 'country_code', 'workplace_type', 'company_size', 'experience_level']]

In [164]:
df

,title,city,country_code,workplace_type,company_size,experience_level
0,Senior Node.js Engineer (with .NET),Kraków,PL,remote,2000+,senior
1,Tester oprogramowania,Warszawa,PL,partly_remote,430,mid
2,Programista Java,Warszawa,PL,partly_remote,430,mid
3,Senior PHP Developer,Katowice,PL,partly_remote,80,senior
4,Big Data Developer / SQL Developer,Warszawa,PL,remote,100+,mid
...,...,...,...,...,...,...
13262,Ruby on Rails Developer,Rzeszów,PL,remote,20-30,mid
13263,Ruby on Rails Developer,Częstochowa,PL,remote,20-30,mid
13264,C/C++ Developer,Wrocław,PL,remote,1400+,senior
13265,Security Firewall Specialist,Wrocław,PL,remote,1400+,mid
13266,Projektant Aplikacji (.NET),Toruń,PL,partly_remote,22000,senior

In [ ]:
# preparing for extraction of keywords
def extract_keywords(title):
  keywords = re.findall(r'\b\w{3,}\b', title.lower())
  return keywords

In [ ]:
df['title_keywords'] = df['title'].apply(extract_keywords)

In [ ]:
# Tworzenie obiektu TfidfVectorizer
vectorizer = TfidfVectorizer()

# Uczenie vectorizera i transformacja słów kluczowych na wektory liczbowe w kolumnie 'keywords'
df['title_keywords_vectors'] = df['title_keywords'].apply(lambda x: ' '.join(x))
df['title_keywords_vectors'] = vectorizer.fit_transform(df['title_keywords_vectors']).toarray().tolist()

In [ ]:
df.head()

In [ ]:
# łączę podstawowe dane z danymi o skillach
df_skills = pd.concat([df, pivot_df], axis=1)

In [ ]:
# łącze to co wyżej z danymi o wynagrodzeniach ale często wynagrodzenia są podane jako b2b albo UoP więc zduplikowałem wszystkie dane tak aby umożliwić modelowi ogarniecie tematu
df_complete_1 = pd.concat([df_skills, df_emplyment_types_l], axis=1)
df_complete_2 = pd.concat([df_skills, df_emplyment_types_2], axis=1)
df_complete = pd.concat([df_complete_1, df_complete_2], axis=0)

In [ ]:
df_complete.head()

In [ ]:
# from pathlib import Path  
# filepath = Path('/Users/dawidmarszalik/Bootcamp Data Science/Uczenie nadzorowane/Untitled Folder/just_join_it.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# df_complete.to_csv(filepath)