In [347]:
import requests
import pandas as pd
from collections import Counter

import re

from sklearn.feature_extraction.text import TfidfVectorizer

In [252]:
url = 'https://justjoin.it/api/offers'

In [253]:
response = requests.get(url)
content = response.json()

In [359]:
content[0]

{'title': 'Kierownik Projektów IT',
 'street': 'ul. Żaryna 2A',
 'city': 'Warszawa',
 'country_code': 'PL',
 'address_text': 'ul. Żaryna 2A, Warszawa',
 'marker_icon': 'pm',
 'workplace_type': 'partly_remote',
 'company_name': 'Bank Millennium',
 'company_url': 'http://www.bankmillennium.pl',
 'company_size': '6700-7000',
 'experience_level': 'senior',
 'latitude': '52.2049218',
 'longitude': '20.9980679',
 'published_at': '2023-07-21T17:00:10.837Z',
 'remote_interview': True,
 'open_to_hire_ukrainians': True,
 'id': 'bank-millennium-kierownik-projektow-it',
 'display_offer': True,
 'employment_types': [{'type': 'permanent', 'salary': None}],
 'company_logo_url': 'https://bucket.justjoin.it/offers/company_logos/thumb/cdaa3b2097b1e8cfc82d061c3d6abcf74a3a37be.png?1687796993',
 'skills': [{'name': 'Zarządzanie zespołem', 'level': 5},
  {'name': 'Zarządzanie Projektami', 'level': 5}],
 'remote': False,
 'multilocation': [{'city': 'Warszawa',
   'street': 'ul. Żaryna 2A',
   'slug': 'bank-millennium-kierownik-projektow-it'}],
 'way_of_apply': 'redirect'}

In [255]:
df = pd.DataFrame.from_records(content)

In [256]:
df_emplyment_types = df['employment_types'].apply(pd.Series)

In [258]:
type(df_emplyment_types[0][0])

dict

In [259]:
df_emplyment_types[0][0]

{'type': 'permanent', 'salary': None}

In [260]:
df_emplyment_types_l = df_emplyment_types[0].apply(pd.Series)

In [261]:
df_emplyment_types_l.head()

        type                                           salary
0  permanent                                             None
1        b2b  {'from': 18750, 'to': 27750, 'currency': 'pln'}
2        b2b  {'from': 19067, 'to': 26400, 'currency': 'pln'}
3        b2b  {'from': 19960, 'to': 24360, 'currency': 'pln'}
4        b2b                                             None

In [262]:
df_emplyment_types_l.columns

Index(['type', 'salary'], dtype='object')

In [263]:
df_emplyment_types_l = pd.concat([df_emplyment_types_l.drop(['salary'], axis=1), df_emplyment_types_l['salary'].apply(pd.Series)], axis=1)

In [264]:
df_emplyment_types_l.rename(columns={'type': 'emplyment_type'}, inplace=True)

In [266]:
df_emplyment_types_2 = df_emplyment_types[1].apply(pd.Series)

In [267]:
df_emplyment_types_2 = pd.concat([df_emplyment_types_2.drop(['salary'], axis=1), df_emplyment_types_2['salary'].apply(pd.Series)], axis=1)

In [268]:
df_emplyment_types_2.rename(columns={'type': 'emplyment_type'}, inplace=True)

In [269]:
df_emplyment_types_2 = df_emplyment_types_2.drop([0], axis=1)

In [285]:
df_test = pd.DataFrame()

In [286]:
df_test = df['skills'].apply(pd.Series)

In [287]:
df_test.head()

,0,1,2
0,"{'name': 'Zarządzanie zespołem', 'level': 5}","{'name': 'Zarządzanie Projektami', 'level': 5}",NaN
1,"{'name': 'Scrum', 'level': 4}","{'name': 'Analiza Biznesowa', 'level': 4}","{'name': 'analiza systemowa', 'level': 4}"
2,"{'name': 'RTOS', 'level': 3}","{'name': 'C', 'level': 3}","{'name': 'Embedded Systems', 'level': 4}"
3,"{'name': 'Terraform', 'level': 3}","{'name': 'Docker', 'level': 3}","{'name': 'AWS', 'level': 3}"
4,"{'name': 'Swift', 'level': 3}","{'name': 'SwiftUI', 'level': 3}","{'name': 'iOS', 'level': 3}"

In [288]:
df_test0 = df_test[0].apply(pd.Series)
df_test1 = df_test[1].apply(pd.Series)
df_test2 = df_test[2].apply(pd.Series)

In [322]:
pivot_df0 = df_test0.pivot(columns='name', values='level').fillna(0)
pivot_df1 = df_test1.pivot(columns='name', values='level').fillna(0)
pivot_df2 = df_test2.pivot(columns='name', values='level').fillna(0)

In [323]:
pivot_df = pd.concat([pivot_df0, pivot_df1,pivot_df2], axis=1)

In [324]:
cols = [col for col in pivot_df.columns]
counts = Counter(cols)
duplicates = [value for value, count in counts.items() if count > 1]

print(duplicates)

['.NET 6', '.NET Core', '.Net', '.Net Framework', '4gl', 'ABAP', 'ABAP OO', 'AEM', 'AI', 'AML', 'API', 'API Testing', 'ASP.NET', 'ASP.NET Core', 'ASP.NET MVC', 'ASPICE', 'AWS', 'Active Directory', 'Adobe Creative Suite', 'Adobe Photoshop', 'Adobe XD', 'Agile', 'Airflow', 'Amazon AWS', 'Amazon Web Services', 'Analityczne Myślenie', 'Analiza Biznesowa', 'Analytical Thinking', 'Analytics', 'Android', 'Android SDK', 'Android Studio', 'Angielski', 'Angular', 'Angular 2+', 'AngularJS', 'Ansible', 'Apache Spark', 'Apache Tomcat', 'Apex', 'Appium', 'Architecture', 'Atlassian', 'Audyt', 'Automated Testing', 'Automotive', 'Autosar', 'Azure', 'Azure AD', 'Azure Data Factory', 'Azure Databricks', 'Azure DevOps', 'Azure Services', 'BGP', 'BI', 'BPMN', 'Backend', 'Bash', 'Big Data', 'BigQuery', 'Bitbucket', 'Blockchain', 'Business Analysis', 'Business Central', 'C', 'C#', 'C#.NET', 'C#/.NET', 'C++', 'C++ 14', 'CD', 'CI', 'CI/CD', 'CISM', 'CMS', 'CRM', 'CSDM 3.0', 'CSS', 'CSS/SCSS', 'CSS3', 'Cassandra', 'CentOS', 'Cisco', 'Clean Code', 'Cloud', 'Cloud security', 'Communication Skills', 'Confluence', 'Contact with a client', 'Continuous Integration', 'Customer Support', 'CyberArk', 'Cybersecurity', 'Cypress', 'DDD', 'DNS', 'DWH', 'Dart', 'Data', 'Data Center', 'Data Integration', 'Data Science', 'Data Vault', 'Data Warehousing', 'Data modeling', 'Database', 'Databases', 'Databricks', 'Deep Learning', 'DevOps', 'DevOps tools', 'Distributed systems', 'Django', 'Docker', 'Dynamics 365', 'ECS', 'ERP', 'ES6', 'ETL', 'ETL tools', 'Elasticsearch', 'Embedded', 'Embedded Systems', 'English', 'English (CEFR C1+)', 'Enterprise Architect', 'Entity Framework', 'Ethernet', 'Excel', 'F#', 'Figma', 'Firebase', 'Firewall', 'Flask', 'Fortinet', 'Front-End', 'GCP', 'German', 'Git', 'GitFLow', 'GitHub', 'GitLab', 'Go', 'Golang', 'Google Analytics', 'Google Cloud', 'Google Cloud Platform', 'GraphQL', 'Groovy', 'HTML', 'HTML5', 'HTML5 / CSS3', 'Hadoop', 'Helm', 'Hibernate', 'IAM', 'IBM', 'IIS', 'ISO', 'ISTQB', 'IT', 'IT Security', 'IT Support', 'ITIL', 'IaC', 'Identity and Access Management', 'Illustrator', 'Infrastructure', 'IoT', 'JIRA', 'JMeter', 'JPA', 'JS', 'JSON', 'JUnit', 'Java', 'Java 11', 'Java 8', 'Java EE', 'Java and/or Kotlin', 'Java/Kotlin/Scala', 'JavaEE', 'JavaScript', 'Jenkins', 'Kafka', 'Kanban', 'Kotlin', 'Kubernetes', 'LAN', 'LTE', 'Laravel', 'Leadership', 'Linux', 'Linux / Unix', 'Linux OS', 'Linux/Unix', 'MIRO', 'MS Azure', 'MS Excel', 'MS Exchange', 'MS Office', 'MS Project', 'MS SQL', 'MS SQL Server', 'MS Windows', 'MS Windows Server', 'MVC', 'Mac OS', 'Machine Learning', 'Magento', 'Magento 2', 'Mainframe', 'Management', 'Manual Testing', 'Matlab', 'Maven', 'Mendix', 'Micronaut', 'Microservice Architecture', 'Microservices', 'Microsoft 365', 'Microsoft Azure', 'Microsoft Azure Cloud', 'Microsoft Office', 'Microsoft Windows', 'Mobile', 'Mobile Apps', 'Mobile casual games', 'MongoDB', 'Monitoring Tools', 'MsSQL', 'MySQL', 'NIST', 'NUnit', 'Network', 'Networking', 'Next.js', 'NgRx', 'Niemiecki', 'NoSQL', 'Node.js', 'NodeJS', 'Nuxt', 'Nuxt.js', 'OOP', 'Office 365', 'OpenCV', 'OpenShift', 'OpenStack', 'Oracle', 'Oracle DB', 'Oracle Forms', 'Oracle SQL', 'PHP', 'PHP 7.x', 'PL/SQL', 'PLC', 'PLM', 'PMI', 'PRINCE2', 'People Management', 'Perl', 'Photoshop', 'Playwright', 'Polish', 'PostgreSQL', 'Postman', 'PostreSQL', 'Power Automate', 'Power BI', 'Power Platform', 'Powershell', 'PrestaShop', 'Problem Solving', 'Procesy biznesowe', 'Product Management', 'Program Management', 'Programming', 'Project Management', 'Prometheus', 'Protokoły Sieciowe', 'PySpark', 'PyTorch', 'Python', 'QA', 'Qt', 'Quality Assurance', 'REST', 'REST API', 'RESTful', 'RPA', 'RSpec', 'RabbitMQ', 'React', 'React Native', 'React.JS', 'ReactJS', 'Red Hat', 'Redux', 'Risk Management', 'Risk Management Framework', 'Ruby on Rails', 'Rust', 'RxJS', 'S/4 HANA', 'S/4HANA', 'SAP', 'SAP ABAP', 'SAP Ariba', 'SAP BW', 'SAP CO', 'SAP FI', 'SAP Fiori', 'SAP HANA', 'SAP HR', 'SAP MM', 'SAP PM', 'SAP S/4HANA', 'SAP S4HANA', 'SAP SD', 'SAP Successfactors', 'SAS', 'SCSS', 'SDLC', 'SDN', 'SIAM', 'SIEM', 'SOA', 'SOAP', 'SOLID Principles', 'SQL', 'SQL Server', 'SQL databases', 'SRE', 'SSIS', 'SaaS', 'Sales', 'Salesforce', 'Scala', 'Scratch', 'Scrum', 'Scrum Master', 'Security', 'Selenium', 'Selenium WebDriver', 'Service Desk', 'ServiceNow', 'SharePoint', 'Sketch', 'Snowflake', 'SoapUI', 'Software Architecture', 'Software Development', 'Solid', 'Solidity', 'Spark', 'Spring', 'Spring Boot', 'Spring MVC', 'Swift', 'SwiftUI', 'Symfony', 'Symfony 4', 'System Administration', 'T-SQL', 'TCP/IP', 'TDD', 'TLS', 'Tableau', 'Team Leadership', 'Team Management', 'Team Player', 'Teamwork', 'Telco', 'TensorFlow', 'Terraform', 'Test Automation', 'TestRail', 'Testing', 'Tomcat', 'Troubleshooting', 'TypeScript', 'UI', 'UI Design', 'UI5', 'UML', 'UX', 'UX Design', 'UX Research', 'Ubuntu', 'Unity', 'Unix', 'VBA', 'VMware', 'VPN', 'Virtualization', 'Visual Studio', 'Vue', 'Vue.js', 'WAN', 'Web Application Testing', 'Windows', 'Windows Administration', 'Windows Server', 'WooCommerce', 'WordPress', 'Writing Test Scenarios', 'XML', 'XUnit', 'YAML', 'Yocto', 'Zabbix', 'Zarządzanie zespołem', 'analiza systemowa', 'automation', 'data analyst', 'data governance', 'gRPC', 'iOS', 'iOS frameworks', 'jQuery', 'k8', 'nestJS', 'product owner', 'pytest', 'routing', 'software testing', 'ticketing system', nan, '.NET C#', 'ACF', 'Angular 12', 'BDD', 'Bazy Danych', 'Blazor', 'Business Intelligence', 'Computer science', 'DAX', 'Data Engineering', 'E-commerce', 'Flutter', 'Hardware', 'Helpdesk', 'IPC', 'IT Service Management', 'IntelliJ APIs or Java UI libraries like Swing or SWT', 'JVM', 'Java SE', 'ML', 'Metasploit', 'Microsoft', 'Microsoft SQL', 'Middleware', 'Network Administration', 'Node', 'NumPy', 'Omnichannel', 'PHP 8', 'PIM', 'Proactivity', 'Processing data', 'Product Ownership', 'Ruby', 'SAP ERP', 'SAP Hybris', 'Sales Cloud', 'Software Engineering', 'Technical Support', 'Tibco', 'Unity 3D', 'VHDL', 'Web Applications', 'Windows 10', 'proxy', 'soar']

In [325]:
for duplicate in duplicates:
    pivot_df1.rename(columns={duplicate: f"{duplicate}__1"}, inplace=True)
    pivot_df2.rename(columns={duplicate: f"{duplicate}__2"}, inplace=True)

In [336]:
pivot_df = pd.concat([pivot_df0, pivot_df1, pivot_df2], axis=1)

In [337]:
for duplicate in duplicates:
    try:
        pivot_df[duplicate] = pivot_df[duplicate] + pivot_df[f'{duplicate}__1']
    except:
        pass
    try:
        pivot_df[duplicate] = pivot_df[duplicate]+ pivot_df[f'{duplicate}__2']
    except:
        pass
    
    try: 
        pivot_df.drop(columns=[f'{duplicate}__1',f'{duplicate}__2'], inplace=True)
    except:
        pass

In [338]:
pivot_df

name,*Python,.NET 6,.NET Core,.NET MVC,.NET and C#,.Net,.Net 5,.Net Framework,1C,3D,...,projektowanie sys. IT,prowadzenie projektów,redhat,release management,routing__2,software testing__2,webMethods,xDSL,zSeries,zarządzanie zespołem IT
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13264,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [354]:
df = df[['title', 'city', 'country_code', 'workplace_type', 'company_size', 'experience_level']]

In [340]:
df

,title,city,country_code,workplace_type,company_size,experience_level
0,Kierownik Projektów IT,Warszawa,PL,partly_remote,6700-7000,senior
1,Starszy analityk IT,Warszawa,PL,partly_remote,65,senior
2,Embedded Software Developer,Warszawa,PL,remote,100+,senior
3,DevOps Engineer (produkt),Kraków,PL,remote,25,mid
4,iOS Developer,Wrocław,PL,remote,60+,mid
...,...,...,...,...,...,...
13260,Ruby on Rails Developer,Rzeszów,PL,remote,20-30,mid
13261,Ruby on Rails Developer,Częstochowa,PL,remote,20-30,mid
13262,C/C++ Developer,Wrocław,PL,remote,1400+,senior
13263,Security Firewall Specialist,Wrocław,PL,remote,1400+,mid
13264,Projektant Aplikacji (.NET),Toruń,PL,partly_remote,22000,senior

In [345]:
# preparing for extraction of keywords
def extract_keywords(title):
  keywords = re.findall(r'\b\w{3,}\b', title.lower())
  return keywords

In [355]:
df['title_keywords'] = df['title'].apply(extract_keywords)

/var/folders/mp/mpgc14lx6b9f41xmhqs4mxc80000gn/T/ipykernel_2635/1159901240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title_keywords'] = df['title'].apply(extract_keywords)

In [356]:
# Tworzenie obiektu TfidfVectorizer
vectorizer = TfidfVectorizer()

# Uczenie vectorizera i transformacja słów kluczowych na wektory liczbowe w kolumnie 'keywords'
df['title_keywords_vectors'] = df['title_keywords'].apply(lambda x: ' '.join(x))
df['title_keywords_vectors'] = vectorizer.fit_transform(df['title_keywords_vectors']).toarray().tolist()

/var/folders/mp/mpgc14lx6b9f41xmhqs4mxc80000gn/T/ipykernel_2635/1241167352.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title_keywords_vectors'] = df['title_keywords'].apply(lambda x: ' '.join(x))
/var/folders/mp/mpgc14lx6b9f41xmhqs4mxc80000gn/T/ipykernel_2635/1241167352.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title_keywords_vectors'] = vectorizer.fit_transform(df['title_keywords_vectors']).toarray().tolist()

In [357]:
df.head()

,title,city,country_code,workplace_type,company_size,experience_level,title_keywords,title_keywords_vectors
0,Kierownik Projektów IT,Warszawa,PL,partly_remote,6700-7000,senior,"[kierownik, projektów]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,Starszy analityk IT,Warszawa,PL,partly_remote,65,senior,"[starszy, analityk]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,Embedded Software Developer,Warszawa,PL,remote,100+,senior,"[embedded, software, developer]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,DevOps Engineer (produkt),Kraków,PL,remote,25,mid,"[devops, engineer, produkt]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,iOS Developer,Wrocław,PL,remote,60+,mid,"[ios, developer]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [360]:
# łączę podstawowe dane z danymi o skillach
df_skills = pd.concat([df, pivot_df], axis=1)

In [361]:
# łącze to co wyżej z danymi o wynagrodzeniach ale często wynagrodzenia są podane jako b2b albo UoP więc zduplikowałem wszystkie dane tak aby umożliwić modelowi ogarniecie tematu
df_complete_1 = pd.concat([df_skills, df_emplyment_types_l], axis=1)
df_complete_2 = pd.concat([df_skills, df_emplyment_types_2], axis=1)
df_complete = pd.concat([df_complete_1, df_complete_2], axis=0)

In [362]:
df_complete.head()

,title,city,country_code,workplace_type,company_size,experience_level,title_keywords,title_keywords_vectors,*Python,.NET 6,...,routing__2,software testing__2,webMethods,xDSL,zSeries,zarządzanie zespołem IT,emplyment_type,from,to,currency
0,Kierownik Projektów IT,Warszawa,PL,partly_remote,6700-7000,senior,"[kierownik, projektów]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,permanent,NaN,NaN,NaN
1,Starszy analityk IT,Warszawa,PL,partly_remote,65,senior,"[starszy, analityk]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,b2b,18750.0,27750.0,pln
2,Embedded Software Developer,Warszawa,PL,remote,100+,senior,"[embedded, software, developer]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,b2b,19067.0,26400.0,pln
3,DevOps Engineer (produkt),Kraków,PL,remote,25,mid,"[devops, engineer, produkt]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,b2b,19960.0,24360.0,pln
4,iOS Developer,Wrocław,PL,remote,60+,mid,"[ios, developer]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,b2b,NaN,NaN,NaN

In [344]:
# from pathlib import Path  
# filepath = Path('/Users/dawidmarszalik/Bootcamp Data Science/Uczenie nadzorowane/Untitled Folder/just_join_it.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# df_complete.to_csv(filepath)