In [2]:
import requests
import pandas as pd

In [3]:
url = 'https://justjoin.it/api/offers'

In [4]:
response = requests.get(url)
content = response.json()

In [5]:
content[0:2]

[{'title': 'Architekt Systemowy Aplikacji IT',
  'street': 'Chmielna 89',
  'city': 'Warszawa',
  'country_code': 'PL',
  'address_text': 'Chmielna 89, Warszawa',
  'marker_icon': 'architecture',
  'workplace_type': 'partly_remote',
  'company_name': 'PKO Bank Polski',
  'company_url': 'https://www.pkobp.pl/kariera/',
  'company_size': '22000',
  'experience_level': 'senior',
  'latitude': '52.2269597',
  'longitude': '20.9921147',
  'published_at': '2023-07-19T19:21:55.256Z',
  'remote_interview': True,
  'open_to_hire_ukrainians': False,
  'id': 'pko-bank-polski-architekt-systemowy-aplikacji-it',
  'display_offer': True,
  'employment_types': [{'type': 'permanent', 'salary': None}],
  'company_logo_url': 'https://bucket.justjoin.it/offers/company_logos/thumb/c1ad0124d914aea501dafca15937ad200f1b9e78.png?1689794456',
  'skills': [{'name': 'RabbitMQ', 'level': 2},
   {'name': 'Ansible', 'level': 2},
   {'name': 'OpenShift', 'level': 2}],
  'remote': False,
  'multilocation': [{'city': 'Warszawa',
    'street': 'Chmielna 89',
    'slug': 'pko-bank-polski-architekt-systemowy-aplikacji-it'}],
  'way_of_apply': 'redirect'},
 {'title': 'Junior .Net Developer',
  'street': 'ul. Józefa Sarego',
  'city': 'Kraków',
  'country_code': 'PL',
  'address_text': 'ul. Józefa Sarego, Kraków',
  'marker_icon': 'net',
  'workplace_type': 'partly_remote',
  'company_name': 'Adrentech Polska Sp. z o.o',
  'company_url': 'https://www.adrentech.com/',
  'company_size': '50+',
  'experience_level': 'junior',
  'latitude': '50.0567669',
  'longitude': '19.9427828',
  'published_at': '2023-07-19T19:09:35.839Z',
  'remote_interview': False,
  'open_to_hire_ukrainians': False,
  'id': 'adrenaline-technologies-ltd-net-developer',
  'display_offer': True,
  'employment_types': [{'type': 'b2b',
    'salary': {'from': 8000, 'to': 12000, 'currency': 'pln'}}],
  'company_logo_url': 'https://bucket.justjoin.it/offers/company_logos/thumb/3b55be4bb8889899c294d556311c2721d677a703.png?1689781554',
  'skills': [{'name': 'MS SQL Server', 'level': 2},
   {'name': 'C#', 'level': 2},
   {'name': '.Net 4.5', 'level': 2}],
  'remote': False,
  'multilocation': [{'city': 'Kraków',
    'street': 'ul. Józefa Sarego',
    'slug': 'adrenaline-technologies-ltd-net-developer'}],
  'way_of_apply': 'form'}]

In [6]:
df = pd.DataFrame.from_records(content)

In [7]:
df_emplyment_types = df['employment_types'].apply(pd.Series)

In [8]:
df_emplyment_types.head()

,0,1
0,"{'type': 'permanent', 'salary': None}",NaN
1,"{'type': 'b2b', 'salary': {'from': 8000, 'to':...",NaN
2,"{'type': 'permanent', 'salary': None}",NaN
3,"{'type': 'b2b', 'salary': {'from': 25000, 'to'...","{'type': 'permanent', 'salary': {'from': 23000..."
4,"{'type': 'b2b', 'salary': {'from': 19800, 'to'...","{'type': 'permanent', 'salary': {'from': 18000..."

In [9]:
type(df_emplyment_types[0][0])

dict

In [10]:
df_emplyment_types[0][0]

{'type': 'permanent', 'salary': None}

In [11]:
df_emplyment_types_l = df_emplyment_types[0].apply(pd.Series)

In [12]:
df_emplyment_types_l.head()

        type                                           salary
0  permanent                                             None
1        b2b   {'from': 8000, 'to': 12000, 'currency': 'pln'}
2  permanent                                             None
3        b2b  {'from': 25000, 'to': 30000, 'currency': 'pln'}
4        b2b  {'from': 19800, 'to': 25300, 'currency': 'pln'}

In [13]:
df_emplyment_types_l.columns

Index(['type', 'salary'], dtype='object')

In [14]:
df_emplyment_types_l = pd.concat([df_emplyment_types_l.drop(['salary'], axis=1), df_emplyment_types_l['salary'].apply(pd.Series)], axis=1)

In [15]:
df_emplyment_types_l.head()

        type     from       to currency
0  permanent      NaN      NaN      NaN
1        b2b   8000.0  12000.0      pln
2  permanent      NaN      NaN      NaN
3        b2b  25000.0  30000.0      pln
4        b2b  19800.0  25300.0      pln

In [16]:
df_emplyment_types_2 = df_emplyment_types[1].apply(pd.Series)

In [17]:
df_emplyment_types_2 = pd.concat([df_emplyment_types_2.drop(['salary'], axis=1), df_emplyment_types_2['salary'].apply(pd.Series)], axis=1)

In [18]:
df_emplyment_types_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13267 entries, 0 to 13266
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   0         0 non-null      float64
 1   type      3809 non-null   object
 2   0         0 non-null      float64
 3   from      2423 non-null   float64
 4   to        2423 non-null   float64
 5   currency  2423 non-null   object
dtypes: float64(4), object(2)
memory usage: 622.0+ KB

In [19]:
df_emplyment_types_2 = df_emplyment_types_2.drop([0], axis=1)

In [20]:
df_emplyment_types_2.head()

        type     from       to currency
0        NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN
3  permanent  23000.0  28000.0      pln
4  permanent  18000.0  23000.0      pln

In [21]:
#df3 = pd.get_dummies(df3)
#df4 = pd.get_dummies(df4)

In [22]:
#df5 = pd.concat([df3, df4])

In [23]:
columns = df.columns
for column in columns:
  print(df[column][0:5])

0    Architekt Systemowy Aplikacji IT
1               Junior .Net Developer
2                       SAS DEVELOPER
3               Architekt systemów IT
4                Senior PHP Developer
Name: title, dtype: object
0          Chmielna 89
1    ul. Józefa Sarego
2          Chmielna 89
3              Centrum
4           Dworcowa 2
Name: street, dtype: object
0    Warszawa
1      Kraków
2    Warszawa
3    Szczecin
4    Katowice
Name: city, dtype: object
0    PL
1    PL
2    PL
3    PL
4    PL
Name: country_code, dtype: object
0        Chmielna 89, Warszawa
1    ul. Józefa Sarego, Kraków
2        Chmielna 89, Warszawa
3            Centrum, Szczecin
4         Dworcowa 2, Katowice
Name: address_text, dtype: object
0    architecture
1             net
2           other
3            java
4             php
Name: marker_icon, dtype: object
0    partly_remote
1    partly_remote
2    partly_remote
3           remote
4    partly_remote
Name: workplace_type, dtype: object
0               PKO Bank Polski
1    Adrentech Polska Sp. z o.o
2               PKO Bank Polski
3                           XTB
4          STATSCORE Sp. z o.o.
Name: company_name, dtype: object
0    https://www.pkobp.pl/kariera/
1       https://www.adrentech.com/
2    https://www.pkobp.pl/kariera/
3           https://www.xtb.com/pl
4       https://www.statscore.com/
Name: company_url, dtype: object
0    22000
1      50+
2    22000
3     500+
4       80
Name: company_size, dtype: object
0    senior
1    junior
2       mid
3       mid
4    senior
Name: experience_level, dtype: object
0    52.2269597
1    50.0567669
2    52.2269597
3    53.4330206
4    50.2572211
Name: latitude, dtype: object
0    20.9921147
1    19.9427828
2    20.9921147
3    14.5483543
4    19.0242396
Name: longitude, dtype: object
0    2023-07-19T19:21:55.256Z
1    2023-07-19T19:09:35.839Z
2    2023-07-19T19:06:40.726Z
3    2023-07-19T19:00:11.847Z
4    2023-07-19T19:00:11.847Z
Name: published_at, dtype: object
0     True
1    False
2     True
3     True
4     True
Name: remote_interview, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: open_to_hire_ukrainians, dtype: bool
0     pko-bank-polski-architekt-systemowy-aplikacji-it
1            adrenaline-technologies-ltd-net-developer
2                        pko-bank-polski-sas-developer
3    xtb-architekt-systemow-it-ab8649bb-ed69-4c90-8...
4     statscore-sp-z-o-o-senior-php-developer-katowice
Name: id, dtype: object
0    True
1    True
2    True
3    True
4    True
Name: display_offer, dtype: bool
0              [{'type': 'permanent', 'salary': None}]
1    [{'type': 'b2b', 'salary': {'from': 8000, 'to'...
2              [{'type': 'permanent', 'salary': None}]
3    [{'type': 'b2b', 'salary': {'from': 25000, 'to...
4    [{'type': 'b2b', 'salary': {'from': 19800, 'to...
Name: employment_types, dtype: object
0    https://bucket.justjoin.it/offers/company_logo...
1    https://bucket.justjoin.it/offers/company_logo...
2    https://bucket.justjoin.it/offers/company_logo...
3    https://bucket.justjoin.it/offers/company_logo...
4    https://bucket.justjoin.it/offers/company_logo...
Name: company_logo_url, dtype: object
0    [{'name': 'RabbitMQ', 'level': 2}, {'name': 'A...
1    [{'name': 'MS SQL Server', 'level': 2}, {'name...
2    [{'name': 'PL/SQL', 'level': 2}, {'name': '4gl...
3    [{'name': 'Spring', 'level': 3}, {'name': 'Mic...
4    [{'name': 'Laravel', 'level': 4}, {'name': 'OO...
Name: skills, dtype: object
0    False
1    False
2    False
3     True
4    False
Name: remote, dtype: bool
0    [{'city': 'Warszawa', 'street': 'Chmielna 89',...
1    [{'city': 'Kraków', 'street': 'ul. Józefa Sare...
2    [{'city': 'Warszawa', 'street': 'Chmielna 89',...
3    [{'city': 'Szczecin', 'slug': 'xtb-architekt-s...
4    [{'city': 'Katowice', 'street': 'Dworcowa 2', ...
Name: multilocation, dtype: object
0    redirect
1        form
2    redirect
3    redirect
4    redirect
Name: way_of_apply, dtype: object

In [24]:
df['skills'][100]

[{'name': 'Active Directory', 'level': 4},
 {'name': 'VMware', 'level': 4},
 {'name': 'Microsoft Windows', 'level': 4}]

In [25]:
# df_skills = df['skills'].apply(pd.Series)

# df_skills_0 = df_skills[0].apply(pd.Series)
# df_skills_1 = df_skills[1].apply(pd.Series)
# df_skills_2 = df_skills[2].apply(pd.Series)

Notatka: nie mam totalnie pojęcia jak to zrobić, żeby było dobrze

In [26]:
# df_skills_0 = pd.get_dummies(df_skills_0)

In [27]:
# df_skills_0.head()

In [28]:
# columns = df_skills_0.columns

# for col in columns:
#   for i in range(len(df_skills_0)):
#     if df_skills_0[col][i] == 1:
#       df_skills_0[col][i] = df_skills_0['level'][i]

In [29]:
# df_skills_0.head(100)

In [30]:
df_reduced = df.drop(['employment_types'], axis=1)

In [31]:
# OK I've done stuff around emloyment types lets take the rest of varables

df1 = df_reduced.merge(df_emplyment_types_l, left_index=True, right_index=True)
df2 = df_reduced.merge(df_emplyment_types_2, left_index=True, right_index=True)

In [32]:
result_df = pd.concat([df1, df2])

In [33]:
result_df

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,display_offer,company_logo_url,skills,remote,multilocation,way_of_apply,type,from,to,currency
0,Architekt Systemowy Aplikacji IT,Chmielna 89,Warszawa,PL,"Chmielna 89, Warszawa",architecture,partly_remote,PKO Bank Polski,https://www.pkobp.pl/kariera/,22000,...,True,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'RabbitMQ', 'level': 2}, {'name': 'A...",False,"[{'city': 'Warszawa', 'street': 'Chmielna 89',...",redirect,permanent,NaN,NaN,NaN
1,Junior .Net Developer,ul. Józefa Sarego,Kraków,PL,"ul. Józefa Sarego, Kraków",net,partly_remote,Adrentech Polska Sp. z o.o,https://www.adrentech.com/,50+,...,True,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'MS SQL Server', 'level': 2}, {'name...",False,"[{'city': 'Kraków', 'street': 'ul. Józefa Sare...",form,b2b,8000.0,12000.0,pln
2,SAS DEVELOPER,Chmielna 89,Warszawa,PL,"Chmielna 89, Warszawa",other,partly_remote,PKO Bank Polski,https://www.pkobp.pl/kariera/,22000,...,True,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'PL/SQL', 'level': 2}, {'name': '4gl...",False,"[{'city': 'Warszawa', 'street': 'Chmielna 89',...",redirect,permanent,NaN,NaN,NaN
3,Architekt systemów IT,Centrum,Szczecin,PL,"Centrum, Szczecin",java,remote,XTB,https://www.xtb.com/pl,500+,...,True,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Spring', 'level': 3}, {'name': 'Mic...",True,"[{'city': 'Szczecin', 'slug': 'xtb-architekt-s...",redirect,b2b,25000.0,30000.0,pln
4,Senior PHP Developer,Dworcowa 2,Katowice,PL,"Dworcowa 2, Katowice",php,partly_remote,STATSCORE Sp. z o.o.,https://www.statscore.com/,80,...,True,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Laravel', 'level': 4}, {'name': 'OO...",False,"[{'city': 'Katowice', 'street': 'Dworcowa 2', ...",redirect,b2b,19800.0,25300.0,pln
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13262,Mid Python Developer,Centrum,Gdańsk,PL,"Centrum, Gdańsk",python,remote,Mindpal,https://skygate.io,50 - 100,...,False,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 2}, {'name': 'Git...",True,"[{'city': 'Gdańsk', 'street': 'Centrum', 'slug...",redirect,NaN,NaN,NaN,NaN
13263,Mid Python Developer,Centrum,Warszawa,PL,"Centrum, Warszawa",python,remote,Mindpal,https://skygate.io,50 - 100,...,False,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 2}, {'name': 'Git...",True,"[{'city': 'Warszawa', 'street': 'Centrum', 'sl...",redirect,NaN,NaN,NaN,NaN
13264,Mid Python Developer,Centrum,Poznań,PL,"Centrum, Poznań",python,remote,Mindpal,https://skygate.io,50 - 100,...,False,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 2}, {'name': 'Git...",True,"[{'city': 'Poznań', 'street': 'Centrum', 'slug...",redirect,NaN,NaN,NaN,NaN
13265,Mid Python Developer,Centrum,Wrocław,PL,"Centrum, Wrocław",python,remote,Mindpal,https://skygate.io,50 - 100,...,False,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 2}, {'name': 'Git...",True,"[{'city': 'Wrocław', 'street': 'Centrum', 'slu...",redirect,NaN,NaN,NaN,NaN
13266,Angular Developer,Centrum,Gdańsk,PL,"Centrum, Gdańsk",javascript,partly_remote,Devire,http://devire.pl,250+,...,False,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 3}, {'name': ...",False,"[{'city': 'Gdańsk', 'street': 'Centrum', 'slug...",redirect,NaN,NaN,NaN,NaN

In [34]:
from pathlib import Path  
filepath = Path('/Users/dawidmarszalik/Bootcamp Data Science/Uczenie nadzorowane/Untitled Folder/just_join_it.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)